.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title, .PageHeader--Subtitle {
  font-weight: 700;
}
.PageHeader--Title {
  color: var(--primary);
}
.PageHeader--Subtitle {
  color: var(--secondary);
  font-weight: 700;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}

